@font-face {
  font-family: 'webicomoon';
  src:  url('@/static/icon/fonts/icomoon.eot?mdmo8d');
  src:  url('@/static/icon/fonts/icomoon.eot?mdmo8d#iefix') format('embedded-opentype'),
    url('@/static/icon/fonts/icomoon.ttf?mdmo8d') format('truetype'),
    url('@/static/icon/fonts/icomoon.woff?mdmo8d') format('woff'),
    url('@/static/icon/fonts/icomoon.svg?mdmo8d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="uicon-"], [class*=" uicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'webicomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uicon-search:before {
  content: "\f002";
}
.uicon-camera:before {
  content: "\f030";
}
.uicon-venus:before {
  content: "\f221";
}
.uicon-mars:before {
  content: "\f222";
}
.uicon-map-o:before {
  content: "\f278";
}
.uicon-map:before {
  content: "\f279";
}
.uicon-address-book:before {
  content: "\f2b9";
}
.uicon-address-book-o:before {
  content: "\f2ba";
}
.uicon-user-circle:before {
  content: "\f2bd";
}
.uicon-user-circle-o:before {
  content: "\f2be";
}
.uicon-microphone:before {
  content: "\e900";
}
.uicon-user:before {
  content: "\e901";
}
.uicon-user-o:before {
  content: "\e902";
}
.uicon-phone:before {
  content: "\e903";
}
.uicon-phone-call:before {
  content: "\e904";
}
.uicon-phone-incoming:before {
  content: "\e905";
}
.uicon-phone-missed:before {
  content: "\e906";
}
.uicon-phone-off:before {
  content: "\e907";
}
.uicon-phone-outgoing:before {
  content: "\e908";
}
.uicon-add-outline:before {
  content: "\e909";
}
.uicon-add-solid:before {
  content: "\e90a";
}
.uicon-folder:before {
  content: "\e90b";
}
.uicon-folder-outline:before {
  content: "\e90c";
}
.uicon-information-outline:before {
  content: "\e90d";
}
.uicon-information-solid:before {
  content: "\e90e";
}
.uicon-mood-happy-outline:before {
  content: "\e90f";
}
.uicon-mood-happy-solid:before {
  content: "\e910";
}
.uicon-volume-down:before {
  content: "\e911";
}
.uicon-volume-mute:before {
  content: "\e912";
}
.uicon-volume-off:before {
  content: "\e913";
}
.uicon-volume-up:before {
  content: "\e914";
}
.uicon-bubble:before {
  content: "\e96b";
}
.uicon-bubble-o:before {
  content: "\e96e";
}
